<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>contact_mail</mat-icon>
        <span>Contact</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>

    <div class="content">
      <div class="row">
        <!-- Mostrar productos si están disponibles -->
        @if(product.length!=0){
          @for(producto of pro(); track producto.product.id) {
            @if(producto.q>0){
            <div class="col-md-4">
              <div class="card">
                <img [src]="'data:image/png;base64,' + producto.product.imagen" class="card-img-top" alt="{{producto.product.nombre}}">
                <div class="card-body">
                  <h5 class="card-title">{{producto.product.nombre}}</h5>
                  <p class="card-text">{{producto.product.descripcion}}</p>
                  <p class="card-text">Precio: {{producto.product.precio}} €</p>
                  <p class="card-text">Cantidad: {{producto.q}}</p>
                  <button class="cantidad" (click)="decreaseQuantity(this.producto)">-</button>
                  <button class="cantidad" (click)="increaseQuantity(this.producto)">+</button>
                </div>
              </div>
            </div>
          }
          }
          <label for="">Total del carrito : {{preciototal()}}</label>

          <!-- Contenedor para los métodos de envío y pago -->
          <div class="methods-container">
            <!-- Método de envío -->
            <div class="radio-group">
              <label id="example-radio-group-label">Elija su método de envio</label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="optionToBuy">
                @for(option of options; track option) {
                  <mat-radio-button class="example-radio-button" [value]="option">{{option}}</mat-radio-button>
                }
              </mat-radio-group>
              <div class="selected-option">Tu metodo de envio es: {{optionToBuy}}</div>
              @if(optionToBuy === 'Llevar a domicilio'){
                <label for="street">Dirección:</label>
                <input type="text" id="street" name="street" [(ngModel)]="streetAddress" class="form-control" placeholder="Ingresa tu calle">
             
              }
            </div>

            <!-- Método de pago -->
            <div class="radio-group">
              <label id="example-radio-group-label">Elija su método de pago</label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="optionToPay">
                @for(optionpay of optionsPay; track optionpay) {
                  <mat-radio-button class="example-radio-button" [value]="optionpay">{{optionpay}}</mat-radio-button>
                }
              </mat-radio-group>
              <div class="selected-option">Tu metodo de pago es: {{optionToPay}}</div>
            </div>
          </div>
        } @else {
          <div class="centered-box">
            <p>Añade primero productos</p>
          </div>
        }
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

